/**
 * Home
 * ----------------------------------------------------------------------------
 */

body.home {
  #content-container {
    transform: translate3d(0, 0, 0);
    & > section.home {
      max-height: 5000px;
      transition: max-height .5s ease-in-out;
      transition-delay: .5s;
    }

  }
}
#content-container>section.home{
 	 	background:$very-light-grey;

	.narrow{
 		width: 100%;

 		max-width: 710px;
 		margin: auto;
 	}
 	.section{
 		margin-top:15px;
 	}
    h1{ text-align:center; }
 	@media #{$small-only} { 
 		.mobile-nav-logo{
 			background:url("../assets/img/logo.png") 0 0 no-repeat;
 			display:block;
 			height:30px;
 		}
 	}

 	.featured-video{

 		#firstFrame{
 			z-index:1;
 			cursor:pointer;
 			position:absolute;
 			top:0;
 			height:100%;
 			img{
 				height:100%;
 			}
 		}
 		iframe{
 			position: absolute;
 			top: 0;
 			left: 0;
 			width: 100%;
 			height: 100%;
 			z-index:0;
 		}

 		.videoOverlay{
 			position:absolute;
 			z-index:3;
 			text-align:center;
 			width:800px;
 			height:450px;
 			left:50%;
 			margin:auto auto auto -400px;
 			bottom:0px;
 			top:0px;
 			img{ margin-bottom:5%;}
 			h2{
 				color:#ffffff;
 				font-size:40px;
 				line-height:40px;
 				margin-bottom:5%;
 			}
          .button{
            max-width: 150px;
            margin:0 auto;

          }

          }
 		@media #{$large-only} { 
 			.homeCircle{
 				width:30%;
 			}
 			.videoOverlay{
 				width:600px;
 				top:40px;
 				height:355px;
 				margin-left:-300px;
 				h2{
 					font-size:30px;
 					line-height: 30px;
 				}
 			}
 		}
 		@media #{$medium-only} { 
 			.homeCircle{
 				width:40%
 			}
 			.videoOverlay{
 				top:40px;
 				width:400px;
 				height:280px;
 				margin-left:-200px;
 				h2{
 					font-size:20px;
 					line-height: 20px;
 				}
 				.button{
 					font-size:18px;
 					padding:15px;
 				}
 			}
 		}
 		@media #{$small-only} { 
			 	 //Hero

			 	 .homeCircle{
			 	 	display:none;
			 	 }
			 	 .videoOverlay{
			 	 	top:40px;
			 	 	width:350px;
			 	 	height:150px;
			 	 	margin-left:-175px;
			 	 	h2{
			 	 		font-size:20px;
			 	 		line-height: 20px;
			 	 	}
			 	 	.button{
			 	 		font-size:14px;
			 	 		padding:10px;
                      font-weight:100;
                      letter-spacing: 1px;
			 	 	}
			 	 }
			 	}
			 }
			 .disabled {
			 	pointer-events:none;
			 }
			 .featured-video{
			 	position: relative;
			 	padding-bottom: 56.25%;
			 	padding-top: 30px;
			 	height: 0;
			 	overflow: hidden;
			 }
			 .overlayFrame{
			 	position:absolute;
			 	top:0;
			 	width:100%;
			 }




			 //SECTION 2, MISSION //

			 .mission{

			 	p.description{
			 		text-align: center;
                    margin:0 5%;

                }
			 	.chimpy_lite_custom_css{
			 		max-height:0;
			 		-webkit-border-radius: 5px;
			 		-moz-border-radius: 5px;
			 		border-radius: 5px;
			 		overflow: hidden;
			 		@include transition(all, 0.5s, ease-in-out);
			 		background:$light-grey;
			 		@media #{$medium-down} {
			 			-webkit-border-radius: 0px;
			 			-moz-border-radius: 0px;
			 			border-radius: 0px;
			 		}

			 		&.active{
			 			max-height:600px;
                      margin: 40px 0px;

                    }
			 		.exitForm{
			 			display: inline-block;
			 			float:right;
			 			width:25px;
			 			color:$white;
			 			font-weight: 100;
			 			line-height:1.1;
			 			height:25px;
			 			text-align: center;
			 			-webkit-border-radius: 25px;
			 			-moz-border-radius: 25px;
			 			border-radius: 25px;
			 			background:$medium-grey;
			 			opacity:.7;
			 			&:hover{
			 				opacity:1;
			 			}
			 		}
			 	}
			 }
			 .circleCTAs {
			 	padding:5% 0% 5% 0%;
			 	li{
			 		display:inline-block;
			 		list-style-type: none;
			 		padding:0% 0% 0% 2%;
			 		box-sizing:content-box;
			 		max-width:20%;

			 	}
			 	img{ 
			 		max-height: 100%;
			 		@include transition(all, 0.5s, ease-in-out);
			 	}
			 	img.animated{
			 		height: 0%;
                    max-width:0%;

			 	}
			 	li:first-child{
			 		padding:0%;
			 	}

			 	margin:0;
			 	text-align:center;

			 }
			 .equipment{
			 	background:url('../assets/img/home-grid.jpg');
			 	padding-bottom:100px;
                .row{
                  margin-top:20px;
                }
               a, li{
                 font-family: "Open Sans", Arial, sans-serif;
                 font-size:16px;
               }

			 	ul.headers{
			 		width:auto;
			 		display:inline-block;
			 		margin:0;

			 		li{
			 			display:inline-block;
			 			margin:0px 20px;
			 			float:left;

			 		}
			 		@media #{$small-only} { 
			 			li{

			 				margin:0px 10px;
                            a{font-size:14px;}
                          .underline{
                            height:1px;

                          }
			 			}
			 		}
			 		a{
			 			color:$medium-grey;
			 			font-size:20px;
			 		}
			 		li.selected a{
			 			color:$dark-grey;
			 		}
			 	}

			 	.underline{
			 		background:$dark-grey;
			 		height:3px;
			 		clear:both;
			 		display:block;
			 		@include transition(all, 0.2s, ease-in-out);
			 	}

			 	ul.equipment-type{
			 		display:none;
                    list-style-type: circle;
                    margin:10px auto;
                    max-width:80%;

                  &.selected{
			 			display:block;
			 		}
			 		li{
			 			text-align:left;
			 			float:left;
                        padding:0 10px;
			 			p{
			 				margin:0px;

			 			}
			 			p.title{
			 				margin-top:10px;
			 				color:$blue;
			 				font-size:20px;
			 			}
			 			p.description{
			 				font-size:16px;
			 				color:$medium-grey;
			 				font-family: $serif;
			 				font-style: italic;
			 			}
			 		}
			 	}
			 }

	//Gallery
	.slick-slider{
		margin-bottom:0;
	}
	


	.slick-prev{
		left:100px !important;
		background:url("../assets/img/home-gallery-arrow.png") !important;
	}
	.slick-prev, .slick-next{
		margin-top:-38px;
		@include transition(all, 0.1s, ease-in-out);
		width:38px;
		height:75px;
		opacity:.7;
	}
	.slick-prev:hover, .slick-next:hover{
		opacity:1;
	}
	.slick-prev:before, .slick-next:before{
		content:"";
	}
	.slick-next{
		right:100px !important;
		background:url("../assets/img/home-gallery-arrow-right.png") !important;

	}
	@media #{$large-up} {
      .slick-track{
        background:#000;
        div{
          img{
            opacity:.2;
            transition:.5s opacity ease-in-out;
          }
        }
        .slick-slide.focused.slick-active{
          img{
            opacity:1;
          }
        }
      }


		.slick-slide{
			position:relative;
		}
	}
	@media #{$medium-down} {
		.slick-prev{
			left:10px !important;
		}
		.slick-next{
			right:10px !important;
		}
	} 

	#home-footer{
		position:relative;

		.footerOverlay{
			position:absolute;
			z-index:1;
			top:0;
			bottom:0;
			margin:auto;
			width:800px;
			left:50%;
			margin-left:-400px;
			height:300px;
		}
		h1{
			font-size:70px;
		}
		video{
			position:relative;
			z-index:0;
		}
		
		@media #{$medium-down} {
          padding-bottom:30px;
			.footerOverlay{
				width:100%;
				height:180px;
                padding:0 10px;
				margin-left:-50%;
                margin-top:10px;
              .social-container{
                width:100%;
                margin:0 auto;
                text-align: center;
              }
			}
			h1{
				font-size:30px;
				text-shadow: 1px 1px 2px rgba(45, 45, 45, 1);
              @media #{$small-only} {
                font-size:20px;
              }
			}

		}

	}
      @media #{$small-only} {
        h1 {
          font-size: 20px;
          margin:0 2% 10px;
        }
        p.description {
          padding:0 10px;
          font-size: 14px;
        }

      }
}
