 .participate{

 	#content-container{
 		transform: translate3d(-75%, 0, 0);
 	}

 }
 #content-container section.participate{
   padding-bottom:200px;
	.social-container{
		width:100%;
		text-align: center;
	}
 	div.chimpy_lite_status_underlay{
 		background:none;
 	}
 	.chimpy_lite_signup_form header{
 		display:none;
 	}
 	.sky-form {
 			background:$medium-grey;
	 		padding:5%;
	 		border-radius:5px;
	 		border: 1px rgba(0,0,0,.25) solid;
 		fieldset{
 			padding:0;
	 		background:none;
	 		width:100%;
	 		.description{
	 			display: none;
	 		}
	 		input{
	 			background:$medium-grey-alt;
	 			border-radius:5px;
	 			border: 1px rgba(0,0,0,.15) solid;

	 		}
	 	}
	 	footer{
	 		padding:0;
	 		border-top:0;
	 	}
	 	button{
	 		float:left;
	 		margin:10px 0px 0px 0px;
	 		border-radius:5px;

	 	}
 	}
 	.row{
 		margin-top:3%;
 		max-width:900px;
 	}
 	h2{
 		color:$very-light-grey;
 		text-transform: uppercase;
 		text-align: center;
 		font-family:$sans-serif;
 	}
 	h2{
 		border-bottom:2px $medium-grey solid;
 		&.section{
 			margin-top:1em;
 		}
 	}
 	.header {
 		background:url('../assets/img/participate-header.jpg');
 		background-size:cover;
 		h2{
 			font-size:5em;
 			padding:2% 0;
 			font-weight:bold;
          @media #{$large-down} {
            font-size:2em;
          }
 		}	
 	}
 	a{
 		font-size:20px;
 	}
 	p{
 		span{
 			width:100px;
 			display: inline-block;
 			font-weight:500;
 			letter-spacing: 1px;
 			color:$very-light-grey;
 		}
 		line-height:1.2;
 		font-size:20px;
 		color:$light-grey-alt;
 	}
 	p.rateDesc{
 		width:70%;
 		float:left;
 		text-transform: capitalize;
 	}
 	p.rate{
 		text-align: right;
 		width:25%;
 		padding-left:5%;
 		color:$very-light-grey;
 		float:left;
 	}
 }