

/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
 	content: " "; /* 1 */
 	display: table; /* 2 */
 }

 .cf:after {
 	clear: both;
 }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

 $decorative : Savu-Condensed;
 $sans-serif : "Roboto Condensed";
 $serif : "Georgia";

//Colors
$dark-grey : #252525;
$medium-dark-grey : #252525;
$medium-grey-alt : #404040;
$medium-grey : #525252;
$light-grey : #e7e7e7;
$light-grey-alt : #C0C0C0;
$very-light-grey : #fdfdfd;
$white : #ffffff;
$red : #c54d4d;
$green : #49b438;
$blue : #2aadf9;
$purple : #ab0676;
$green-blue : #0887ac;
$dark-blue : #272e6a;

.green{ color: $green;}
.dark-grey{ color:$dark-grey;}
.medium-grey{ color:$medium-grey;}
.light-grey{ color:$light-grey;}
.white{color:$white;}
.red{color:$red;}
.blue{color:$blue;}
.purple{color:$purple;}
.green-blue{color:$green-blue;}

.green-bg{ background: $green;}
.dark-grey-bg{ background:$dark-grey;}
.medium-grey-bg{ background:$medium-grey;}
.light-grey-bg{ background:$light-grey;}
.white-bg{background:$white;}
.red-bg{background:$red;}
.blue-bg{background:$blue;}
.purple-bg{background:$purple;}
.green-blue-bg{background:$green-blue;}
/**
 * Mixins
 * ----------------------------------------------------------------------------
 */
 @mixin transition($transition-property, $transition-time, $method) {
 	-webkit-transition: $transition-property $transition-time $method;
 	-moz-transition: $transition-property $transition-time $method;
 	-ms-transition: $transition-property $transition-time $method;
 	-o-transition: $transition-property $transition-time $method;
 	transition: $transition-property $transition-time $method;
 }
 @mixin border-radius($radius) {
 	-webkit-border-radius: $radius;
 	border-radius: $radius;
 	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
 }

 @mixin background-image-retina($file, $type, $width, $height) {
 	background-image: url($file + '.' + $type);

 	@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
 		& {
 			background-image: url($file + '@2x.' + $type);
 			-webkit-background-size: $width $height;
 		}
 	}
 }
 @mixin vertical-align {
 	position: relative;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 }

 @mixin transform($transform, $only3d: false) {
 	@if $only3d {
 		@include experimental(transform, $transform, -moz, -webkit, -o, -ms, not -khtml, official);
 	}
 	@else {
 		@include experimental(transform, $transform, -moz, -webkit, -o, -ms, not -khtml, official);
 	}
 }

 @mixin transform3d($trans) {
 	@include transform($trans, true);
 }
 @mixin radialGradient(){
 	position:fixed;
 	background-image: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, #000000 95%);
 	background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, #000000 95%);
 	background-image: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, #000000 95%); 
 	content: '';
 	z-index: 0;
 	opacity: 1;
 	height: 100%;
 	width: 100%;
 	left: 0;
 	top: 0;
 }
// Single side border-radius

@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin light-gradient{
	background: $light-grey; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#bcbcbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */

}
@mixin ellipses(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/**
 * General Settings
 * ----------------------------------------------------------------------------
 */
// Add some whitespace between top bar and content

$top-bar-height:52px;
.top-bar-container, .tab-bar {
	position:relative;
}

.inline{
	display:inline-block;
}
.right{
	float:right;
}
.left{
	float:left;
}


#content-container{
	width:400%;
	z-index:2;
	position:relative;
	@include transition(all, 0.5s, ease-in-out);
	&.home{
		
	}
	&.members{
	}
	&.music{
		transform: translate3d(-50%, 0, 0);	
	}
	&.participate{
		transform: translate3d(-75%, 0, 0);
	}
	>section{
		width:25%;
		float:left;
		overflow:hidden;
		min-height:100px;

		&:before{
			@include radialGradient();
		}
	}
}

body{
	height:5000px;
	&:before{
		content: '';
		z-index: 0;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		position:fixed;
		background: url( '../assets/img/noise.png' );
		opacity:.5;
	}
	background:$dark-grey;
}


.top-bar-container{
	position:fixed;
	top:0;
	z-index:11;
}
.homeNavWrap{

}
.transparent .top-bar-container{
	background:rgba(255,255,255,0);
	border-bottom:3px solid rgba(73,180,57,0) !important;
	.top-bar{
		background:none;	
		#slinky{
			display:none;
		}		
		.logo{ 
			opacity: 0;
		}
		ul{
			background: none;

			li{
				a{
					background:none;
					color:$white;
				}
				&.active a{
					background:none;
				}
				&:hover a{
					color:white;
				}
			}

		}
	}
}

.top-bar-container{
	background:rgba(255,255,255,1);
	@include transition(all, 0.5s, ease-in-out);
	height:$top-bar-height;


	.top-bar{
		max-width:100%;
		background:none;
		section.top-bar-section{
			float:right;
		}
		#slinky{
			display:block;
			position:absolute;
			background:$dark-blue;
			height:4px;
			margin-left:15px;
			top:45px;
			@include transition(all, 0.5s, ease-in-out);

		}
		.divider{ display:none; }
		.logo{ 
			opacity: 1;
			@include transition(opacity, 0.5s, ease-in-out);
			float:left;
			img{
				margin-left:20px;
				max-width: 179px;
				max-height: 50px;
			}
		}
		ul{
			background:none;
			li{
				background: none;
				a{
					background:none !important;
					text-transform:uppercase;
					font-family: $sans-serif;
					font-weight:300;
					position:relative;
					font-size: 18px;
					color:black;

				}
				&:hover a{
					color:black;
				}
				&.active a{
					background:none;
					font-weight:bold;
				}

			}


		}
	}
}


.social-container{
	z-index: 1; 
	width:400px;
	margin:40px auto;
	height:69px;
	list-style-type: none;
	li{
		margin: 0 20px;
		display:inline-block;
	}
	.social{ background-image:url('../assets/img/home-social.png'); display:inline-block; text-align:center; }
	.fb { background-position:  -0px -0px; height: 65px; width: 65px; }
	.fb:hover { background-position:  -0px -65px; height: 65px; width: 65px; }
	.instagram { background-position:  -0px -130px; height: 65px; width: 65px; }
	.instagram:hover { background-position:  -0px -195px; height: 65px; width: 65px; }
	.youtube { background-position:  -0px -260px; height: 65px; width: 65px; }
	.youtube:hover { background-position:  -0px -325px; height: 65px; width: 65px; }
}
/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

 @font-face {font-family: "Savu-Condensed"; src: url('../assets/fonts/2B5AD0_0_0.eot');src: url('../assets/fonts/2B5AD0_0_0.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/2B5AD0_0_0.woff') format('woff'),url('../assets/fonts/2B5AD0_0_0.ttf') format('truetype');}




 h1{
 	font-family: $decorative;
 	font-size:40px;
 	color:#ffffff;

 }
 h1.block{
 	width:100%;
 	text-transform: uppercase;
 	font-weight: 100;
 	padding-left:5px;
 	line-height:32px;
 	padding-bottom:3px;
 }


 h2{
 	font-size:24px;
 	font-family: $decorative;
 }

 h3{
 	font-family:$serif;
 	font-size:24px;
 	color:#3f3f3f;
 }
 a{
 	font-family: $sans-serif;
 	font-size:24px;
 }
 p{
 	font-family: $sans-serif;
 	font-size:22px;
 	color:$medium-grey;
 	font-weight:100;
 	&.small{
 		font-size:15px;
 		text-rendering: inherit;
 	}
 }

// Insert styles here


/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */








	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here